//fonts
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); posible fuente del google fonts

$font-main: Roboto;


//colors
$color-green: #6c933e;
$color-lightgreen: #d9e4cc;
$color-greyish: #4a4a4a;
$color-white: #ffffff;