//images and title
.container3{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img{
        border: none;
        border-radius: 50%;
        width: 46%;
        margin-bottom: 10px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.414);
    }
}

.title-img3{
    font-family: $font-main;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 25px;

}