.header{
    background-color: $color-green;
    padding: 17px;
    width: 16%;
    position: fixed;
    z-index: 2;
    @media (min-width:768px) {
        width: 60px;
    }

}
.hamb{
    width: 22px;
    position: sticky;
}