//color
.section3{
    background-color: $color-lightgreen;
    padding-bottom: 15%;
    @media (min-width:768px){
        padding-bottom: 0;
    }
}

//texts
.container-title{
    font-family: $font-main;
    display: inline-block;
    text-align: center;
    padding: 26px;
    margin-left: 30px;
    line-height: 34px;
    font-weight: bold;
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        
    }
    @media (min-width: 768px) {
        margin-bottom: -35px;
    }
}
.title3{
    font-family: $font-main;
    font-size: 16px;
    color: $color-greyish;
    @media (min-width:768px){
        font-size: 19px;
    }
}
.subtitle{
    font-family: $font-main;
    font-size: 25px;
    @media (min-width:768px){
        font-size: 43px;

    }
}

//button section3
.container-button3{
    display: flex;
    justify-content: center;
}
.button-empezar{
    font-family: $font-main;
    background-color: $color-green;
    color: $color-white;
    font-size: 23px;
    font-weight: bold;
    border-radius: 80px;
    padding: 16px 32px;
    border: 3px solid $color-green;
    margin-top: 15px;
    margin-bottom: 46px;
}

.button-empezar:hover{
    background-color:rgba(252, 252, 251, 0.478);
    transform: scale(1.2);
    color: $color-green;
    text-shadow: 1px 1px 10px rgba(99, 135, 56, 0.438);;
    border: 3px solid rgba(108, 153, 53, 0.988);
}