<footer>
    <button><img src="./images/ico-arrow.png" alt=""></button>
    <nav>
        <ul>
            <a href="">ZAPATILLAS</a>
            <a href="">ROPA</a>
            <a href="">NIÑO/A</a>
            <a href="">DESTACADOS</a>
            <a href="">TIPS</a>
        </ul>
        <ul>
            <a href="">TWITTER</a>
            <a href="">INSTAGRAM</a>
            <a href="">YOUTUBE</a>
        </ul>
    </nav>
    <div>
        <p> &copy;2023</p>
    </div>
    <div>
        <p>we <span>❤︎</span> run</p>
    </div>
</footer>