<footer >
    <section class="footer">
        <div class="boxbutton">
            <button class="button-footer">
                <a href=""><img src="./images/ico-arrow.png" alt=""></a>
            </button>
        </div>
        <div class="boxcategory">
            <ul class="url">
                <a href="https://adalab.es/">ZAPATILLAS</a>
                <a href="https://adalab.es/">NIÑO/A</a>
                <a href="https://adalab.es/">ROPA</a>
                <a href="https://adalab.es/">DESTACADOS</a>
                <a href="https://adalab.es/">TIPS</a>
            </ul>
            <ul class="pag">
                <a href="https://adalab.es/">TWITTER</a>
                <a href="https://adalab.es/">INSTAGRAM</a>
                <a href="https://adalab.es/">YOUTUBE</a>
            </ul>
        </div>
    
        <div class="boxcopy">
            <p> &copy;2023</p>
            <p>we <span class="heart">❤︎</span> run</p>
        </div>
    </section>
</footer>