<section>
    <article>
        <div>
            <h3>¡Prepáralos con tus marcas favoritas!</h3>
            <h2>VUELTA AL COLE</h2>
        </div>
        <div>
            <load src="/partials/article.html" images="/images/2.png" title="Mochila"/>
            <load src="/partials/article.html" images="/images/3.png" title="Deporte"/>
            <load src="/partials/article.html" images="/images/4.png" title="Bolsas"/>
        </div>
    </article>

    <button>Empezar ahora</button>
    
</section>