<section class="section3">
    <article>
        <div class="container-title">
            <h3 class="title3">¡Prepáralos con tus marcas favoritas!</h3>
            <h2 class="subtitle">VUELTA AL COLE</h2>
        </div>
        <div class="container3">
            <load src="/partials/article.html" images="/images/2.png" title="Mochila"/>
            <load src="/partials/article.html" images="/images/3.png" title="Deporte"/>
            <load src="/partials/article.html" images="/images/4.png" title="Bolsas"/>
        </div>
    </article>

    <button class="button-empezar">Empezar ahora</button>
    
</section>